@model Department
@{
    ViewBag.Title = "Delete Department";
}
<a class="btn btn-success hBack" asp-action="Index" asp-controller="Department" style="">Back</a>    <a class="btn btn-primary hBack" style="margin-left:1050px" asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Department">Edit</a>
<br />
<br />
<h3 style="margin-left:500px;color:#f4623a;background-color:white;width:200px" id="EditForm">Delete Form</h3>
<br />
<br />
<form method="post" asp-action="Delete" asp-route-id="@Model.Id" class="form-control" style="max-width:750px" id="center">
    <div style="margin-left:100px;margin-top:50px;">
        <label style="font-weight:bold" asp-for="Name">Name</label>
        <input asp-for="Name" style="color:#f4623a; width:400px" class="form-control" disabled />
    </div>
    <div style="margin-left:100px;">
        <label asp-for="Manager" style="font-weight:bold">Manager</label>
        <input style="color:#f4623a; width:400px" asp-for="Manager" class="form-control"  disabled/>
    </div>
    <br />
    <input type="submit" class="btn btn-outline-danger" value="Delete" style="margin-left:100px; margin-bottom:50px;width:400px" onclick="return confirm('Are you sure to delete this department')"/>
 </form>


<style>
    #center {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 2rem;
    }

    #EditForm {
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }
</style>