@model Task_2ITI.ViewModels.ApplicationUserViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="card border-primary mb-3" style="max-width: 50rem;">
    <div class="card-body text-primary">

        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-left:100px;margin-bottom:10px;width:400px">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" style="max-width:25rem;" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:100px;margin-bottom:10px;width:400px">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" style="max-width:25rem;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:100px;margin-bottom:10px;width:400px">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" style="max-width:25rem;" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:100px;margin-bottom:10px;width:400px">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" style="max-width:25rem;" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:100px;margin-bottom:10px;width:400px">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" style="max-width:25rem;" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:100px;margin-bottom:10px;width:400px">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" style="max-width:25rem;" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" >
                <input type="submit" value="Create" class="btn btn-success" style="margin-left:100px;margin-bottom:10px;width:400px" />
            </div>
        </form>
        </div>
        </div>

<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>