@{
    ViewData["Title"] = "Home Page";
}

 <!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We've got what you need!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">the website provides a comprehensive platform for administrators or authorized users to efficiently handle the creation, modification, and deletion of courses, departments, trainees, and instructors. This functionality streamlines the administrative tasks associated with managing educational programs or training initiatives.</p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2" style="color:gray">Courses</h3>
                    <p class="text-muted mb-0">Our System allow you to Add - Edit - Delete Courses</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2" style="color:gray">Departments</h3>
                    <p class="text-muted mb-0">Our System allow you to Add - Edit - Delete Departments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2" style="color:gray">Instrcutors</h3>
                    <p class="text-muted mb-0">Our System allow you to Add - Edit - Delete Instructors</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2" style="color:gray">Trainees</h3>
                    <p class="text-muted mb-0">Our System allow you to Add - Edit - Delete Trainees</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2" style="color:gray">Up to Date</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep data fresh.</p>
                </div>
            </div>
        </div>
    </div>
</section>