@model Course
@{
    ViewBag.Title = "Edit Course";
    SelectList departmentsItems = new SelectList(ViewBag.Department, "Id", "Name");
}

<a class="btn btn-success hBack" asp-action="Index" asp-controller="Course" style="">Back</a>    <a class="btn btn-danger hBack" style="margin-left:1050px" asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Course">Delete</a>
<br />
<br />
<h3 style="margin-left:500px;color:#f4623a;background-color:white;width:150px" id="EditForm">Edit Form</h3>
<br />
<br />
<form asp-controller="Course" asp-action="Edit" asp-route-Id="@Model.Id" class=" form-control" method="post" style="max-width:750px" id="center">
    <div style="margin-left:100px;margin-top:50px">
    <label asp-for="Name" style="font-weight:bold"></label>
    <input style="color:#f4623a; width:400px" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div style="margin-left:100px;">
    <label asp-for="Degree" style="font-weight:bold;"></label>
    <input style="color:#f4623a; width:400px" asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div style="margin-left:100px;">
    <label asp-for="MinDegree" style="font-weight:bold"></label>
    <input style="color:#f4623a; width:400px" asp-for="MinDegree" class="form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>
    <div style="margin-left:100px;">
    <label asp-for="DepId" style="font-weight:bold">Departments</label>
    <select asp-items="departmentsItems" asp-for="DepId" class="form-control" style="color:#f4623a; width:400px"></select>
        <span asp-validation-for="DepId" class="text-danger"></span>
    </div>
    <br />
    <br />
    <input type="submit" value="Edit" class="btn btn-success" style="margin-left:100px;margin-bottom:50px;width:400px" />
    <br />

</form>

<style>
    #center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius:2rem;
}

    #EditForm {
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
}
</style>
